{% extends 'layouts/base.html' %} {% block body_block %} {% load static %}

<!-- Modal -->
<div
  class="modal fade bg-white"
  id="templatemo_search"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="w-100 pt-1 mb-5 text-right">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <form action="" method="get" class="modal-content modal-body border-0 p-0">
      <div class="input-group mb-2">
        <input
          type="text"
          class="form-control"
          id="inputModalSearch"
          name="q"
          placeholder="Search ..."
        />
        <button type="submit" class="input-group-text bg-success text-light">
          <i class="fa fa-fw fa-search text-white"></i>
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Start Banner Hero -->
<div
  id="template-mo-zay-hero-carousel"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-bs-target="#template-mo-zay-hero-carousel"
      data-bs-slide-to="0"
      class="active"
    ></li>
    <li
      data-bs-target="#template-mo-zay-hero-carousel"
      data-bs-slide-to="1"
    ></li>
    <li
      data-bs-target="#template-mo-zay-hero-carousel"
      data-bs-slide-to="2"
    ></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img
              class="img-fluid"
              src="{% static 'assets/img/laptop-home.png' %}"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
              <h1 class="h1 text-success"><b>Phantom</b> Zone</h1>
              <h3 class="h2">Your Perfect eCommerce Site</h3>
              <p>
                Phantom Zone is an eCommerce Site that provides best Mobile, Router, Monitor, Camera,
                Laptop & Smart Watch deals.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img
              class="img-fluid"
              src="{% static 'assets/img/monitor-home.png' %}"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
                <h1 class="h1 text-success"><b>Phantom</b> Zone</h1>
                <h3 class="h2">Various Features</h3>
              <p>
               This eCommerce is build with various features and products
                <strong>Evaluating Stocks</strong> are its prime features.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img
              class="img-fluid"
              src="{% static 'assets/img/mobile-home.png' %}"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
                <h1 class="h1 text-success"><b>Phantom</b> Zone</h1>
              <h3 class="h2">Lots of Categorized Products</h3>
              <p>
                You can View many as many products you want with this site. There are categorized filter for this site as well
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev text-decoration-none w-auto ps-3"
    href="#template-mo-zay-hero-carousel"
    role="button"
    data-bs-slide="prev"
  >
    <i class="fas fa-chevron-left"></i>
  </a>
  <a
    class="carousel-control-next text-decoration-none w-auto pe-3"
    href="#template-mo-zay-hero-carousel"
    role="button"
    data-bs-slide="next"
  >
    <i class="fas fa-chevron-right"></i>
  </a>
</div>
<!-- End Banner Hero -->

<!-- Start Categories of The Month -->
<section class="container py-5">
  <div class="row text-center pt-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1">Categories of The Month</h1>
      <p>
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 p-5 mt-3">
      <a href="{% url 'App_Shop:shop' %}"><img
          src="{% static 'assets/img/mobile-home.png' %}"
          class="img-fluid border"
      /></a>
      <h5 class="text-center mt-3 mb-3">Mobile</h5>
      <p class="text-center"><a href="{% url 'App_Shop:shop' %}" class="btn btn-success">Go Shop</a></p>
    </div>
    <div class="col-12 col-md-4 p-5 mt-3">
      <a href="{% url 'App_Shop:shop' %}"
        ><img
          src="{% static 'assets/img/laptop-home.png' %}"
          class="img-fluid border"
      /></a>
      <h2 class="h5 text-center mt-3 mb-3">Laptop</h2>
      <p class="text-center"><a href="{% url 'App_Shop:shop' %}" class="btn btn-success">Go Shop</a></p>
    </div>
    <div class="col-12 col-md-4 p-5 mt-3">
      <a href="{% url 'App_Shop:shop' %}"
        ><img
          src="{% static 'assets/img/monitor-home.png' %}"
          class="img-fluid border"
      /></a>
      <h2 class="h5 text-center mt-3 mb-3">Monitor</h2>
      <p class="text-center"><a href="{% url 'App_Shop:shop' %}" class="btn btn-success">Go Shop</a></p>
    </div>
  </div>
</section>
<!-- End Categories of The Month -->

<!-- Start Featured Product -->
<section class="bg-light">
  <div class="container py-5">
    <div class="row text-center py-3">
      <div class="col-lg-6 m-auto">
        <h1 class="h1">Featured Product</h1>
        <p>
         Most rated products in our shop that will make your life easy
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="shop-single.html">
            <img
              src="{% static 'assets/img/ideapad-gaming-3i.jpg' %}"
              class="card-img-top"
              alt="..."
            />
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
              </li>
              <li class="text-muted text-right">&#2547;24000.00</li>
            </ul>
            <a href="shop-single.html" class="h2 text-decoration-none text-dark"
              >Lenovo IdeaPad Gaming</a
            >
            <p class="card-text">
              3i Core i5 11th Gen RTX 3050 4GB Graphics 15.6" FHD Laptop Model:
              IdeaPad Gaming 3i Processor: Intel Core i5-11300H (8M Cache, 3.10
              GHz up to 4.40 GHz) RAM: 8GB DDR4 3200MHz, Storage: 512GB NVMe SSD
              Graphics: RTX 3050 4GB GDDR6 Features: Type-C, 2W x2 Stereo
              speakers, Privacy Shutter
            </p>
            <p class="text-muted">Reviews (24)</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="shop-single.html">
            <img
              src="{% static 'assets/img/oneplus-nord-ce-3-lite-1.jpg' %}"
              class="card-img-top"
              alt="..."
            />
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
              </li>
              <li class="text-muted text-right">&#2547; 48000.00</li>
            </ul>
            <a href="shop-single.html" class="h2 text-decoration-none text-dark"
              >Oneplus Nord CE 3 lite</a
            >
            <p class="card-text">
               Android 12, upgradable to Android 13, OxygenOS 13
               Mediatek Dimensity 1300 (6 nm)
               Octa-core (1x3.0 GHz Cortex-A78 & 3x2.6 GHz Cortex-A78 & 4x2.0 GHz Cortex-A55)
               Front Camera:32 MP, f/2.4, (wide), 1/2.8", 0.8µm
                Back Camera: 50 MP, f/1.9, 24mm (wide), 1/1.56", 1.0µm, PDAF, OIS
                8 MP, f/2.2, 120˚ (ultrawide)
                2 MP, f/2.2, (depth)
            </p>
            <p class="text-muted">Reviews (48)</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <a href="shop-single.html">
            <img
              src="{% static 'assets/img/dslr.jpg' %}"
              class="card-img-top"
              alt="..."
            />
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
              </li>
              <li class="text-muted text-right">&#2547; 36000.00</li>
            </ul>
            <a href="shop-single.html" class="h2 text-decoration-none text-dark"
              >Canon Eos 4000D</a
            >
            <p class="card-text">
              Via optical viewfinder: AI Focus (Switches between One-Shot AF and
              AI SERVO AF automatically) One Shot AF AI Servo Manual Via live
              view LCD screen: One Shot AF (Contrast detect AF) Quick Mode (via
              phase detection AF sensor) Manual
            </p>
            <p class="text-muted">Reviews (74)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Featured Product -->

{% endblock body_block %}
