{% extends 'layouts/base.html' %}
{% block body_block %}
<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="/media/{{object.main_image}}" alt="Card image cap" id="product-detail">
                </div>
                <div class="row">
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-dark fas fa-chevron-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                    </div>
                    <!--End Controls-->
                    <!--Start Carousel Wrapper-->
                    <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                        <!--Start Slides-->
                        <div class="carousel-inner product-links-wap" role="listbox">

                            <!--First slide-->
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" src="/media/{{object.main_image}}" alt="Product Image 1">
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" src="/media/{{product_detail.side_image_one}}" alt="Product Image 2">
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" src="/media/{{product_detail.side_image_one}}" alt="Product Image 3">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--/.First slide-->

                            <!--Second slide-->
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" src="/media/{{object.main_image}}" alt="Product Image 1">
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" src="/media/{{product_detail.side_image_one}}" alt="Product Image 2">
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" src="/media/{{product_detail.side_image_one}}" alt="Product Image 3">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--/.Second slide-->
                        </div>
                        <!--End Slides-->
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-dark fas fa-chevron-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
            <!-- col end -->


           <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">{{object.name}}</h1>
                        <!-- <p class="h3 py-2">{{object.price}}</p> -->
                        <div>
                            <span class="text-center mr-1 h5"><b>&#2547; {{product.price|floatformat:2}}</b></span> 
                            <span class="text-center mb-2 text-muted "><del> &#2547; {{product.old_price|floatformat:2}}</del></span>
                        </div>
                        <p class="py-2">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <span class="list-inline-item text-dark">Rating {{product_detail.rating}} | 36 Comments</span>
                        </p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h5>Type: {{object.sub_category}}</h5>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>{{object.created_date}}</strong></p>
                            </li>
                        </ul>

                        <h6>Description:</h6>
                        <p>{{object.description}}</p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Avaliable Color :</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>{{product_detail.color}}</strong></p>
                            </li>
                        </ul>

                        <h3 class="mb-3">Product Specifications:</h3>

                        <h5>Network:</h5>
                        <p>{{product_detail.network}}</p>
                        <h5>Operating System:</h5>
                        <p>{{product_detail.os}}</p>
                        <h4>RAM/ROM:</h4>
                        <p>{{product_detail.memory}}</p>
                        <h4>Camera:</h4>
                        <p>{{product_detail.camera}}</p>  

                        <!-- <form class="mt-5" action="" method="GET">
                            <input type="hidden" name="product-title" value="Activewear">
                            <div class="row">
                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item">Size :
                                            <input type="hidden" name="product-size" id="product-size" value="S">
                                        </li>
                                        <li class="list-inline-item"><span class="btn btn-success btn-size">8/128</span></li>
                                        <li class="list-inline-item"><span class="btn btn-success btn-size">4/64</span></li>
                                        <li class="list-inline-item"><span class="btn btn-success btn-size">6/128</span></li>
                                        <li class="list-inline-item"><span class="btn btn-success btn-size">6/64</span></li>
                                    </ul>
                                </div>
                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item text-right">
                                            Quantity
                                            <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                        </li>
                                        <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                        <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                        <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                    </ul>
                                </div>
                            </div> -->
                            <div class="row pb-3 mt-5">
                                <div class="col d-grid">
                                    <button class="btn btn-success btn-lg" name="submit"><a href="{% url 'App_Shop:shop'%}" class="text-white text-decoration-none"><i class="fas fa-chevron-left"></i> Back To Shop</a></button>
                                </div>
                                <div class="col d-grid">
                                    <button type="submit" class="btn btn-success btn-lg text-uppercase" name="submit" value="addtocard"> <a href="{% url 'App_Order:add' pk=object.pk %}" class="text-white text-decoration-none"><i class="fas fa-shopping-cart"></i> Add To Cart</a></button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>
{% endblock body_block %}



<!-- <div class="container my-5">
    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">
                <article class="gallery-wrap">
                    <div class="img-big-wrap">
                        <div>
                            <a href=""><img src="/media/{{object.main_image}}" style="width:450px;" alt=""></a>
                        </div>
                    </div>
                </article>
            </aside>
            <aside class="col-sm-7">
                <article class="card-body p-2">
                    <h3 class="title mp-3">{{object.name}}</h3>
                    <p class="price-detail-wrap">
                        <span class="price h3 text-danger">
                            <span class="currency">BDT &#2547;</span> <span class="num">{{object.price}}
                           </span>
                        </span>
                    </p>
                    <dl class="item-property">
                        <dt>Description</dt>
                        <dd>{{object.detail_text|linebreaks}}</dd>
                    </dl>
                    <br>
                    <a href="{% url 'App_Order:add' pk=object.pk %}" class="btn btn-lg btn-outline-primary text-uppercase"><i class="fas fa-shopping-cart"></i> Add To Cart</a>
                </article>
            </aside>
        </div>
    </div>
</div> -->